<%= stylesheet_link_tag "main" %>

<h1>About</h1>
<p>This website is dedicated to bands that usually are not on the billboard 100.</p>
<p>In fact, most of the bands listed here would rather not be on the billboard 100.</p>
<p>These are the bands that dare to experiment with sound and style and lyricism that mainstream artists are scared to touch</p>
<p>Welcome to IndieSpot, the place where Indie fans new and old can discover music.</p>
<br>
<p>P.S. Pabst Blue Ribbon is NOT on the house here.</p>
<p>IndieSpot Album to Listen to: Veckatimest</p>
<%= image_tag 'Veckatimest.gif' %>
