<!DOCTYPE html>
<html>
  <head>
    <title>IndieSpot</title>
  </head>

  <body>
    <center>
      <table>
        <tr><td><%= render "layouts/header" %></td></tr>
        <tr><td heigh = '300' valign="top"><%= yield %></td></tr>
        <tr><td><%= render "layouts/footer" %></td></tr>
      </table>
    </center>
  </body>
</html>
